<nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand" href="/">
    Equipos registrados
    </a>
  </nav>
  
  <div class="container">
    <div class="row">
      <div class="col-md-8 mt-4">
          <ul class="list-group">
            <li 
              *ngFor="let team of teamArray"
            class="list-group-item list-group-item-action"
              (click)="openForEdit(team)"
              [class.active]="team == selectedTeam"
              >
              <span class="badge badge-primary mr-4 ml-4" >{{team.id}}</span>{{team.name}}  - {{team.stadium}}
              <button *ngIf="selectedTeam.id !==0" (click)="addOrEdit()" class="btn btn-primary mr-4 ml-4">
                Editar
              </button>
              <button 
                *ngIf="selectedTeam.id !==0"
                class="btn btn-danger"
                (click)="delete()"
                >
                Eliminar
              </button>
            </li>
          </ul>
          <div class="card mt-4">
            <div class="card-body">
              <div class="card-title">
                  <h3>Inserta un nuevo equipo</h3> 
              </div>
              <div class="form-group">
                <input type="text" [(ngModel)]="selectedTeam.name" placeholder="Inserta un nombre" class="form-control">
              </div>
              <div class="form-group">
                <input type="text" [(ngModel)]="selectedTeam.stadium" placeholder="Inserta un estadio" class="form-control">
              </div>
              <div class="form-group">
                <input type="text" [(ngModel)]="selectedTeam.webSite" placeholder="Inserta el sitio web" class="form-control">
              </div>
              <div class="form-group">
                <input type="text" [(ngModel)]="selectedTeam.nationality" placeholder="Inserta la nacionalidad" class="form-control">
              </div>
              <div class="form-group">
                <input type="date" [(ngModel)]="selectedTeam.fundationAge" placeholder="Inserta el año de fundación" class="form-control">
              </div>
              <div class="form-group">
                <input type="text" [(ngModel)]="selectedTeam.coach" placeholder="Inserta el entrenador" class="form-control">
              </div>
              <div class="form-group">
                <input type="text" [(ngModel)]="selectedTeam.capacity" placeholder="Inserta la capacidad" class="form-control">
              </div>
              <div class="form-group">
                <input type="text" [(ngModel)]="selectedTeam.value" placeholder="Inserta el valor" class="form-control">
              </div>
              <button (click)="addOrEdit()" class="btn btn-primary mr-2">
                Registrar
              </button>
            </div>
          </div>
      </div>
      <div class="col-md-4">
        <img width="300" alt="FIFA Logo" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS4HHGHSKJOTo2x4gFUlrOZmN3TUygRRYGUbIQXW1MdS8wW-YnA&usqp=CAU">
      </div>
    </div>
  </div>
  
  