<form action="action_page.php">
    <div class="container">
      <h1>Registro</h1>
      <p>Por favor completa el formulario para poder hacer tu registro.</p>
      <hr>
  
      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Ingresa tu Email" name="email" id="email" required>
  
      <label for="psw"><b>Contraseña</b></label>
      <input type="password" placeholder="Ingresa tu contraseña" name="psw" id="psw" required>
  
      <label for="psw-repeat"><b>Contraseña de nuevo</b></label>
      <input type="password" placeholder="Repite tu contraseña" name="psw-repeat" id="psw-repeat" required>
      <hr>
  
      <p>Al crear tu cuenta aceptas el contrato de usuario <a href="#">Terminos y privacidad</a>.</p>
      <button type="submit" class="registerbtn">Registrate</button>
    </div>
  
    <div class="container signin">
      <p>¿Ya tienes una cuenta? <a href="#">Ingresa</a>.</p>
    </div>
  </form> 